body {
    background-color: black;
    color: pink;
    font-family: monospace;
    font-size: 36px;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#textBlock {
    padding: 20px;
}

.highlighted {
    animation: colorChange 1s infinite alternate;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}


@keyframes colorChange {
    0% {
        color: palevioletred;
    }

    50% {
        color: white
    }

    100% {
        color: red;
    }
}